# Pandas Function

In [1]:
import pandas as pd

In [24]:
data = {
    "Name":["Amit","Sam","Rohan"],
    "Age":[23,24,22]
}

df1 = pd.DataFrame(data)
df1

    Name  Age
0   Amit   23
1    Sam   24
2  Rohan   22

## All()

In [15]:
df1.all() # checks column wise if all the values are True

Name    False
Age      True
dtype: bool

## Any()

In [17]:
df1.any() # checks column wise if any one value is True

Name    True
Age     True
dtype: bool

## Append

In [18]:
df1

   Name  Age
0  Amit   23
1   Sam   24
2         22

In [19]:
data1 = {
    "Name":['A','B','C'],
    "Age":[23,45,56]
} 

df2 = pd.DataFrame(data1)
df2

  Name  Age
0    A   23
1    B   45
2    C   56

In [22]:
 df1.append(df2)

/var/folders/_h/x4q09hy96pj_31bc_0s283j00000gp/T/ipykernel_93278/2709247757.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2)

   Name  Age
0  Amit   23
1   Sam   24
2         22
0     A   23
1     B   45
2     C   56

## Assign

In [25]:
df1

    Name  Age
0   Amit   23
1    Sam   24
2  Rohan   22

In [26]:
df3 = df1.assign(phone=[2323434,4546,67668]) # add new column at last
df3

    Name  Age    phone
0   Amit   23  2323434
1    Sam   24     4546
2  Rohan   22    67668

## Insert

In [27]:
df1

    Name  Age
0   Amit   23
1    Sam   24
2  Rohan   22

In [28]:
df1.insert(1,"Phone",[23456,6767686745,45645657])

In [29]:
df1

    Name       Phone  Age
0   Amit       23456   23
1    Sam  6767686745   24
2  Rohan    45645657   22

In [30]:
data_set = pd.read_csv("data.csv")
data_set

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [31]:
data_set.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [32]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [47]:
pd.options.display.max_rows = 170

## isna()

In [48]:
data_set['Calories'].isna()

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17      True
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27      True
28     False
29     False
30     False
31     False
32     False
33     False
34     False
35     False
36     False
37     False
38     False
39     False
40     False
41     False
42     False
43     False
44     False
45     False
46     False
47     False
48     False
49     False
50     False
51     False
52     False
53     False
54     False
55     False
56     False
57     False
58     False
59     False
60     False
61     False
62     False
63     False
64     False
65     False
66     False
67     False
68     False
69     False
70     False
71     False
72     False
73     False
74     False
75     False
76     False
77     False
78     False
79     False
80     False
81     False
82     False
83     False
84     False
85     False
86     False
87     False
88     False
89     False
90     False
91      True
92     False
93     False
94     False
95     False
96     False
97     False
98     False
99     False
100    False
101    False
102    False
103    False
104    False
105    False
106    False
107    False
108    False
109    False
110    False
111    False
112    False
113    False
114    False
115    False
116    False
117    False
118     True
119    False
120    False
121    False
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141     True
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
150    False
151    False
152    False
153    False
154    False
155    False
156    False
157    False
158    False
159    False
160    False
161    False
162    False
163    False
164    False
165    False
166    False
167    False
168    False
Name: Calories, dtype: bool

In [49]:
data_set[ data_set['Calories'].isna() ]

     Duration  Pulse  Maxpulse  Calories
17         45     90       112       NaN
27         60    103       132       NaN
91         45    107       137       NaN
118        60    105       125       NaN
141        60     97       127       NaN

In [50]:
data_set1 = data_set

## dropna()

In [55]:
data_set2 = data_set1.dropna()

In [56]:
data_set2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  164 non-null    int64
 1   Pulse     164 non-null    int64
 2   Maxpulse  164 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.4 KB

## fillna()

In [60]:
data_set1['Calories'].mean()

375.79024390243904

In [61]:
data_set5 = data_set1.fillna(375)
data_set5

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112     375.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132     375.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137     375.0
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125     375.0
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127     375.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [62]:
data_set5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  169 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [63]:
data_set5.empty

False

In [64]:
data_set5.equals(data_set2)

False

In [66]:
data_set1.filter(items = ['Duration','Calories'])

     Duration  Calories
0          60     409.1
1          60     479.0
2          60     340.0
3          45     282.4
4          45     406.0
5          60     300.0
6          60     374.0
7          45     253.3
8          30     195.1
9          60     269.0
10         60     329.3
11         60     250.7
12         60     345.3
13         60     379.3
14         60     275.0
15         60     215.2
16         60     300.0
17         45       NaN
18         60     323.0
19         45     243.0
20         60     364.2
21         45     282.0
22         60     300.0
23         45     246.0
24         60     334.5
25         60     250.0
26         60     241.0
27         60       NaN
28         60     280.0
29         60     380.3
30         60     243.0
31         45     180.1
32         60     299.0
33         60     223.0
34         60     361.0
35         60     415.0
36         60     300.0
37         60     300.0
38         60     300.0
39         45     266.0
40         45     180.1
41         60     286.0
42         60     329.4
43         60     400.0
44         60     397.0
45         60     273.0
46         60     387.6
47         45     300.0
48         45     298.0
49         60     397.6
50         60     380.2
51         80     643.1
52         60     263.0
53         60     486.0
54         30     238.0
55         60     450.7
56         60     413.0
57         45     305.0
58         20     226.4
59         45     321.0
60        210    1376.0
61        160    1034.4
62        160     853.0
63         45     341.0
64         20     131.4
65        180     800.4
66        150     873.4
67        150     816.0
68         20     110.4
69        300    1500.2
70        150    1115.0
71         60     387.6
72         90     700.0
73        150     953.2
74         45     304.0
75         90     563.2
76         45     251.0
77         45     300.0
78        120     500.4
79        270    1729.0
80         30     319.2
81         45     344.0
82         30     151.1
83        120     500.0
84         45     225.3
85         30     300.0
86         45     234.0
87        120    1000.1
88         45     242.0
89         20      50.3
90        180     600.1
91         45       NaN
92         30     105.3
93         15      50.5
94         20     127.4
95         20     229.4
96         30     128.2
97         25     244.2
98         30     188.2
99         90     604.1
100        20      77.7
101        90     500.0
102        90     500.0
103        90     500.4
104        30      92.7
105        30     124.0
106       180     800.3
107        30      86.2
108        90     500.3
109       210    1860.4
110        60     325.2
111        45     275.0
112        15     124.2
113        45     225.3
114        60     367.6
115        60     351.7
116        60     443.0
117        60     277.4
118        60       NaN
119        60     332.7
120        30     193.9
121        45     100.7
122        60     336.7
123        60     344.9
124        60     368.5
125        60     271.0
126        60     275.3
127        60     382.0
128        90     466.4
129        60     384.0
130        60     342.5
131        60     357.5
132        60     335.0
133        60     327.5
134        60     339.0
135        20     189.0
136        45     317.7
137        45     318.0
138        45     308.0
139        20     222.4
140        60     390.0
141        60       NaN
142        45     250.4
143        45     335.4
144        60     470.2
145        45     270.8
146        60     400.0
147        60     361.9
148        30     185.0
149        60     409.4
150        60     343.0
151        60     353.2
152        60     374.0
153        30     275.8
154        60     328.0
155        60     368.5
156        60     270.4
157        60     270.4
158        60     382.8
159        30     240.9
160        30     250.4
161        45     260.4
162        45     270.0
163        45     280.9
164        60     290.8
165        60     300.0
166        60     310.2
167        75     320.4
168        75     330.4

In [67]:
data_set1[['Duration','Calories']]

     Duration  Calories
0          60     409.1
1          60     479.0
2          60     340.0
3          45     282.4
4          45     406.0
5          60     300.0
6          60     374.0
7          45     253.3
8          30     195.1
9          60     269.0
10         60     329.3
11         60     250.7
12         60     345.3
13         60     379.3
14         60     275.0
15         60     215.2
16         60     300.0
17         45       NaN
18         60     323.0
19         45     243.0
20         60     364.2
21         45     282.0
22         60     300.0
23         45     246.0
24         60     334.5
25         60     250.0
26         60     241.0
27         60       NaN
28         60     280.0
29         60     380.3
30         60     243.0
31         45     180.1
32         60     299.0
33         60     223.0
34         60     361.0
35         60     415.0
36         60     300.0
37         60     300.0
38         60     300.0
39         45     266.0
40         45     180.1
41         60     286.0
42         60     329.4
43         60     400.0
44         60     397.0
45         60     273.0
46         60     387.6
47         45     300.0
48         45     298.0
49         60     397.6
50         60     380.2
51         80     643.1
52         60     263.0
53         60     486.0
54         30     238.0
55         60     450.7
56         60     413.0
57         45     305.0
58         20     226.4
59         45     321.0
60        210    1376.0
61        160    1034.4
62        160     853.0
63         45     341.0
64         20     131.4
65        180     800.4
66        150     873.4
67        150     816.0
68         20     110.4
69        300    1500.2
70        150    1115.0
71         60     387.6
72         90     700.0
73        150     953.2
74         45     304.0
75         90     563.2
76         45     251.0
77         45     300.0
78        120     500.4
79        270    1729.0
80         30     319.2
81         45     344.0
82         30     151.1
83        120     500.0
84         45     225.3
85         30     300.0
86         45     234.0
87        120    1000.1
88         45     242.0
89         20      50.3
90        180     600.1
91         45       NaN
92         30     105.3
93         15      50.5
94         20     127.4
95         20     229.4
96         30     128.2
97         25     244.2
98         30     188.2
99         90     604.1
100        20      77.7
101        90     500.0
102        90     500.0
103        90     500.4
104        30      92.7
105        30     124.0
106       180     800.3
107        30      86.2
108        90     500.3
109       210    1860.4
110        60     325.2
111        45     275.0
112        15     124.2
113        45     225.3
114        60     367.6
115        60     351.7
116        60     443.0
117        60     277.4
118        60       NaN
119        60     332.7
120        30     193.9
121        45     100.7
122        60     336.7
123        60     344.9
124        60     368.5
125        60     271.0
126        60     275.3
127        60     382.0
128        90     466.4
129        60     384.0
130        60     342.5
131        60     357.5
132        60     335.0
133        60     327.5
134        60     339.0
135        20     189.0
136        45     317.7
137        45     318.0
138        45     308.0
139        20     222.4
140        60     390.0
141        60       NaN
142        45     250.4
143        45     335.4
144        60     470.2
145        45     270.8
146        60     400.0
147        60     361.9
148        30     185.0
149        60     409.4
150        60     343.0
151        60     353.2
152        60     374.0
153        30     275.8
154        60     328.0
155        60     368.5
156        60     270.4
157        60     270.4
158        60     382.8
159        30     240.9
160        30     250.4
161        45     260.4
162        45     270.0
163        45     280.9
164        60     290.8
165        60     300.0
166        60     310.2
167        75     320.4
168        75     330.4

In [68]:
data_set1[ data_set1['Calories'] > 300  ]

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
4          45    117       148     406.0
6          60    110       136     374.0
10         60    103       147     329.3
12         60    106       128     345.3
13         60    104       132     379.3
18         60    103       123     323.0
20         60    108       131     364.2
24         60    102       126     334.5
29         60    102       129     380.3
34         60    107       136     361.0
35         60    114       140     415.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
46         60    109       153     387.6
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
53         60    118       151     486.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
83        120    100       130     500.0
87        120    100       157    1000.1
90        180    101       127     600.1
99         90     93       124     604.1
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
106       180     90       120     800.3
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
119        60    103       124     332.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
140        60    108       135     390.0
143        45    122       149     335.4
144        60    136       170     470.2
146        60    107       136     400.0
147        60    112       146     361.9
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
154        60    105       128     328.0
155        60    111       151     368.5
158        60    114       150     382.8
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4